@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


.matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.itim-regular {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* POPUP CLASSES */

.popup_active_body_blur{
    transition:0.2s;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px) brightness(40%);
}

#body_background_img{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../media/clouds_bckground.png);
}

body{
    width: 100vw;
    height: 100vh;
    overflow: none;    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.popup_active_non_blur{
    transition: none;
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;

}

#title_header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15em;
    font-family: "Matemasie";

}

#title_header > h1{
    font-size: 9rem;
    animation: fadeIn 2s;
    letter-spacing: 1.1rem;
    text-shadow: 15px 15px 7px rgba(0, 0, 0, 0.5);
    z-index: 15;
    background-color: #8ac4e7;
    width: 100%;
    text-align: center;
}


#index_intro_card{
    width: 60%;
    height: 70%;
    background-color: #c0dee3;
    border: white 30px solid;
    border-radius: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20%;
    font-family: "Matemasie";
    font-size: 5rem;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#index_intro_card span{
    border: white 10px solid;
    border-radius: 15%;
    padding: 1.5rem;
    background-color: #e5c4d2;
    box-shadow: 15px 15px 9px 0px rgba(0,0,0,0.1);
}

#index_intro_card span:hover{
    border: white 10px solid;
    background-color: #e9cbd8;
    box-shadow: 25px 25px 9px 0px rgba(0,0,0,0.3);
    text-shadow: 4px 4px 7px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}


@keyframes fadeIn{
    0% {opacity: 0;
        font-size: 2rem;}
        
    100% {opacity: 1;
        font-size: 9rem;}
}


/* QUESTIONS PAGE */


#score_card{
    position: absolute;
    top: 10%;
    right: 10%;
    background: #c0dee3;
    width: 7em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: 5px white solid;
    z-index: 15;
}

#score_card > #current_score{
    font-size: 3rem;
    font-family: "Matemasie";
}

#progress_btns{
    position: absolute;
    top: 50%;
    width: 100%;
    
}

#back_btn{
    left: 10%;
}

#next_btn{
    right: 10%;
}

#back_btn, #next_btn{
    position: absolute;
    background: #c0dee3;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: 5px white solid;
    font-family: "Matemasie";
    color: white;
    font-size: 2rem;
}

#back_btn:hover, #next_btn:hover{
    border: white 10px solid;
    background-color: #cbd6f8;
    box-shadow: 25px 25px 9px 0px rgba(0,0,0,0.3);
    text-shadow: 4px 4px 7px rgba(255, 255, 255, 0.5);
    cursor: pointer;

}

.question_card{
    width: 60%;
    height: 70%;
    background-color: #c0dee3;
    border: white 30px solid;
    border-radius: 15%;
    display: none;
    align-items: center;
    flex-direction: column;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
    z-index: 15;
    font-family: "Itim";
}

.active{
    display: flex;
}

.question_text{
    font-size: 3rem;
    padding: 0.5em;
    text-align: center;
}

.question_card > div{
    font-size: 2rem;
    height: 30%;
    width: auto;
}

#complete_quiz_btn{
    width: 6em;
    height: 3em;
    border: white 5px solid;
    border-radius: 15%;
    padding: 0.5rem;
    margin: 1rem;
    background-color: #e5c4d2;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#complete_quiz_btn:hover{
    box-shadow: 15px 15px 9px 0px rgba(0,0,0,0.3);
    text-shadow: 4px 4px 7px rgba(255, 255, 255, 0.5);
}




/* ADMIN */

#admin_q_btn{
    border: white 5px solid;
    border-radius: 15%;
    padding: 0.5rem;
    background-color: #e5c4d2;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.1);
    position: absolute;
    top: 1%;
    left: 1%;
    font-family: "Itim";
    cursor: pointer;
    z-index: 15;
}

#admin_validation_card{
    box-shadow: 15px 15px 9px 0px rgba(0,0,0,0.1);
    border: white 10px solid;
    width: 30rem;
    height: 20rem;
    background-color: #c0dee3;
    position: absolute;
    top: 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 15;



}

#admin_exit{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
}

#admin_validation_card > #admin_exit > i{
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7em;
    cursor: pointer;
}

#admin_validation_card > #admin_exit > i:hover{

    text-shadow: 2px 2px 3px black ;
}

#admin_validation_card > #admin_exit > span{
    width: 95%;
}

#admin_validation_card > span{
    font-size: 4em;
    font-family: "Matemasie";
}


#admin_validation_card > form{
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

#admin_validation_card > form > input{
    height: 4.5rem;
    font-size: 3.5em;
    text-align: center;
    width: 8rem;
    border-radius: 15%;
    border: white 5px solid;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.1);
}

#admin_validation_card > form > button{
    height: 4.5rem;
    font-size: 1.5em;
    text-align: center;
    width: 8rem;
    border: white 5px solid;
    border-radius: 15%;
    padding: 0.5rem;
    background-color: #e5c4d2;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.1);
    font-family: "Itim";
    cursor: pointer;
    color: white;
}



/* COMPLETE PAGE */


#completed_quiz_wrap{
    width: 60%;
    height: 70%;
    background-color: #c0dee3;
    border: white 30px solid;
    border-radius: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.5);
    z-index: 15;
    font-family: "itim";
    font-size: 4rem;
    text-align: center;
    justify-content: space-evenly;

}



#final_score{
    background-color: #e9cbd8;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    border: 5px white solid;
    font-size: 5rem;
    font-family: "Matemasie";
}


